* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: whitesmoke;
}

/* Header Styles */

header {
  display: block;
  font-size: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  background: #92AEA6;
  color: whitesmoke;

}

header h1 {
  display: inline-flex;
  background-color: #C7E4CC;
  padding-right: 15px;
  padding-left: 45px;

}

nav {
  margin: 9px;
  float: right;
}

header nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 25px;
  padding: 15px;
}


/* Main Container and Section Styles */

main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 10px;
}

section {
  padding: 80px;
}

p {
  line-height: 25px;
  font-size: 17px;
  text-align: justify;
  text-align-last: right;
  padding: 35px;
}

.sectionHeader h2 {
  height: 100%;
  width: 100px;
  font-size: 25px;
}

.sectionHeader {
  padding-bottom: 10px;
  border-right-style: solid;
  border-right-width: thick;

}

/* Hero Container Styles */

.hero {
  background-position: center;
  padding-right: 20px;
  background-size: cover;
  background-image: url('../images/02-hero-bg.jpg');
}

.hero h2 {
  font-size: 25px;
  float: right;
  background-color: #ffd1dc;
  padding-right: 10px;
  padding-left: 10px;
}


img {
  max-width: 270px;
  max-height: 300px;
  margin-left: 30px;
  margin-top: 40px;
  margin-right: -40px;
  border-radius: 50%;
}

/* Work Grid styles*/

#categoryGrid {
  padding: 30px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 200px 200px 200px;
  gap: 1rem;
  grid-template-areas:
    "wh      wh"
    "bl      gr"
    "yl      rd"
  ;
}

#white {
  grid-area: wh;
  background-image: url("../images/02-portfolio-1.jpg");

}

#black {
  grid-area: bl;
  background-image: url("../images/02-portfolio-2.jpg");
}

#green {
  grid-area: gr;
  background-image: url("../images/02-portfolio-3.jpg");
}

#yellow {
  grid-area: yl;
  background-image: url("../images/02-portfolio-4.jpg");
}

#red {
  grid-area: rd;
  background-image: url("../images/02-run-buddy.jpg");
}

.categoryGridArea {
  display: grid;
  align-content: end;
  margin: 5px;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-blend-mode: soft-light;
}

.categoryGridArea:hover {
  background-color: #D9C0F1;
}

.categoryGridArea a {
  padding: 15px;
  height: 160px;
  color: white;
  font-size: 18px;
}

/* Contact section styles*/

.page-section contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a:hover {
  color: #B0D2C7;
}

.contact address a {
  display: inline-block;
  font-size: 25px;
  color: #273824;
  padding: 50px;
  text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 820px) {

  .sectionHeader h2 {
    font-size: 35px;
    height: 40%;
    width: 30px;
  }

  .header h1 {
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .page-wrapper {
    width: 30%;
    height: 30%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "white"
      "black"
      "red"
      "yellow"
      "green"
  }
}