* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #273824;
  font-size: 30px;
}

header h1 {
  background-color: #576f53;
  color: whitesmoke;
  padding-left: 50px;
  padding-right: 10px;
}

header nav {
  padding: 15px 0;

}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul li a {   
  padding: 15px;
  font-size: 20px;
  margin: 25px 25px;
  text-align: center; 
  color: whitesmoke;

}

/* Section Styles */
section {
  padding: 80px;
}

/* Hero Container Styles */
.hero {
  background-position: center;
  padding-right: 25px;    
  background-size: cover;
  background-image: url('../images/02-hero-bg.jpg');
}

.hero h2 {
  color: black;
  font-size: 25px;
  float: right;
  background-color: #ffd1dc;
  padding-right: 5px;
  padding-left: 5px;
}

